---
import { EnvService } from '@/services/env.service';
import ProjectItem from '../ProjectItem.astro';
import type { Project } from '@/utilities/types';

const projectsList: Project[] = [
  {
    title: 'Queue Management System',
    description:
      'Designed to organize customer queues, streamline wait times, and enhance service efficiency',
    image: '/images/projects/queue_management.webp',
    previewUrl: EnvService.getProjects().queueApp.demo,
    repositoryUrl: null,
    technologies: [
      {
        name: 'React',
        color: 'bg-sky-500',
      },
      {
        name: 'Typescript',
        color: 'bg-blue-500',
      },
      {
        name: 'Sockets',
        color: 'bg-sky-500',
      },
      {
        name: 'Express',
        color: 'bg-green-500',
      },
      {
        name: 'MySQL',
        color: 'bg-blue-500',
      },
    ],
  },
  {
    title: 'Streaming Platform',
    description:
      'A modern streaming platform built using Astro, TypeScript, and Tailwind CSS. Enjoy a clean and responsive user interface.',
    image: '/images/projects/streaming_platform.webp',
    previewUrl: EnvService.getProjects().crunchyroll.demo,
    repositoryUrl: EnvService.getProjects().crunchyroll.url,
    technologies: [
      {
        name: 'Astro',
        color: 'bg-orange-500',
      },
      {
        name: 'Typescript',
        color: 'bg-blue-500',
      },
      {
        name: 'Tailwind Css',
        color: 'bg-sky-500',
      },
    ],
  },

  {
    title: 'Portfolio Website',
    description:
      'A beautiful website created with NextJS, Typescript and Tailwind CSS. Show your works, skills, projects and more, it includes features such as responsive layout and dark mode.',
    image: '/images/projects/portfolio_design.webp',
    previewUrl: EnvService.getProjects().portfolioApp.demo,
    repositoryUrl: EnvService.getProjects().portfolioApp.url,
    technologies: [
      {
        name: 'Next JS',
        color: 'bg-gray-200',
      },
      {
        name: 'Typescript',
        color: 'bg-blue-500',
      },
      {
        name: 'Tailwind Css',
        color: 'bg-sky-500',
      },
    ],
  },
];
---

<div class='space-y-12'>
  {
    projectsList.map((project) => (
      <ProjectItem
        description={project.description}
        image={project.image}
        technologies={project.technologies}
        title={project.title}
        previewUrl={project.previewUrl}
        repositoryUrl={project.repositoryUrl}
      />
    ))
  }
</div>
