---
import { envConfig } from '@/config/env';
import ProjectItem from '../ProjectItem.astro';
import type { Project } from '@/utilities/types';

const projectsList: Project[] = [
  {
    title: 'Document management system (DMS)',
    description:
      'Used to create, store, manage, and track electronic documents and images of paper-based documents through software.',
    image: '/images/projects/cms_tramites.webp',
    previewUrl: envConfig().projectsUrl.crunchyroll || '',
    repositoryUrl: null,
    technologies: [
      {
        name: 'React',
        color: 'bg-sky-500',
      },
      {
        name: 'Next JS',
        color: 'bg-gray-200',
      },
      {
        name: 'React Query',
        color: 'bg-red-500',
      },
      {
        name: 'Typescript',
        color: 'bg-blue-500',
      },
      {
        name: 'Tailwind Css',
        color: 'bg-sky-500',
      },
      {
        name: 'Express',
        color: 'bg-green-500',
      },
      {
        name: 'MySQL',
        color: 'bg-blue-500',
      },
      {
        name: 'Nest JS',
        color: 'bg-red-500',
      },
    ],
  },
  {
    title: 'Streaming Platform',
    description:
      'A modern anime streaming platform built using React, TypeScript, and Tailwind CSS. Enjoy a clean and responsive user interface.',
    image: '/images/projects/streaming_platform.webp',
    previewUrl: envConfig().projectsUrl.crunchyroll || '',
    repositoryUrl: 'https://github.com/richardhuam/crunchyroll-clone-pb.git',
    technologies: [
      {
        name: 'React',
        color: 'bg-sky-500',
      },
      {
        name: 'Typescript',
        color: 'bg-blue-500',
      },
      {
        name: 'Tailwind Css',
        color: 'bg-sky-500',
      },
    ],
  },

  {
    title: 'Portfolio Design',
    description:
      'A beautiful design created with NextJS, Typescript and Tailwind CSS. Show your works, skills, projects and more, it includes features such as responsive layout and dark mode.',
    image: '/images/projects/portfolio_design.webp',
    previewUrl: envConfig().projectsUrl.portfolioApp || '',
    repositoryUrl: 'https://github.com/richardhuam/portfolio-app.git',
    technologies: [
      {
        name: 'Next JS',
        color: 'bg-gray-200',
      },
      {
        name: 'Typescript',
        color: 'bg-blue-500',
      },
      {
        name: 'Tailwind Css',
        color: 'bg-sky-500',
      },
    ],
  },
];
---

<div class='space-y-12'>
  {
    projectsList.map((project) => (
      <ProjectItem
        description={project.description}
        image={envConfig().appUrl + project.image}
        technologies={project.technologies}
        title={project.title}
        previewUrl={project.previewUrl}
        repositoryUrl={project.repositoryUrl}
      />
    ))
  }
</div>
