---
import type { Experience } from '@/utilities/types';
import ExperienceItem from '../ExperienceItem.astro';

const experience: Experience[] = [
  {
    companyName: 'EPS. Ilo',
    position: 'Software Engineer',
    from: 'Aug, 2023',
    to: 'Present',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nobis illo culpa id dolores, dolorem tempora harum soluta necessitatibus voluptatum maxime temporibus labore ratione dignissimos quibusdam. Nostrum consectetur corporis aspernatur?',
  },
  {
    companyName: 'EPS. Ilo',
    position: 'Software Engineer',
    from: 'Aug, 2023',
    to: 'Present',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nobis illo culpa id dolores, dolorem tempora harum soluta necessitatibus voluptatum maxime temporibus labore ratione dignissimos quibusdam. Nostrum consectetur corporis aspernatur?',
  },
  {
    companyName: 'EPS. Ilo',
    position: 'Software Engineer',
    from: 'Aug, 2023',
    to: 'Present',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nobis illo culpa id dolores, dolorem tempora harum soluta necessitatibus voluptatum maxime temporibus labore ratione dignissimos quibusdam. Nostrum consectetur corporis aspernatur?',
  },
];
---

<ol>
  {
    experience.map((exp) => (
      <li>
        <ExperienceItem
          title={exp.position}
          company={exp.companyName}
          date={`${exp.from} - ${exp.to}`}
          description={exp.description}
        />
      </li>
    ))
  }
</ol>
