---
import ExperienceItem from '../ExperienceItem.astro';
import { experience } from '@/data/workExperience';
---

<ol>
  {
    experience.map((exp) => (
      <li>
        <ExperienceItem
          position={exp.position}
          companyName={exp.companyName}
          from={exp.from}
          to={exp.to}
          roles={exp.roles}
          technologies={exp.technologies}
        />
      </li>
    ))
  }
</ol>
