---
import type { Experience } from '@/utilities/types';
import ExperienceItem from '../ExperienceItem.astro';

const experience: Experience[] = [
  {
    companyName: 'Eps Ilo S.A.',
    position: 'Software Engineer',
    from: 'Aug, 2023',
    to: 'Present',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nobis illo culpa id dolores, dolorem tempora harum soluta necessitatibus voluptatum maxime temporibus labore ratione dignissimos quibusdam. Nostrum consectetur corporis aspernatur?',
  },
  {
    companyName: 'Centro Radiologico Stomarx S.A.C.',
    position: 'Full Stack Developer',
    from: 'Jun, 2022',
    to: 'Aug, 2023',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nobis illo culpa id dolores, dolorem tempora harum soluta necessitatibus voluptatum maxime temporibus labore ratione dignissimos quibusdam. Nostrum consectetur corporis aspernatur?',
  },
  {
    companyName: 'Fairdent S.A.C.',
    position: 'Software Developer',
    from: 'Nov, 2021',
    to: 'Jun, 2022',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nobis illo culpa id dolores, dolorem tempora harum soluta necessitatibus voluptatum maxime temporibus labore ratione dignissimos quibusdam. Nostrum consectetur corporis aspernatur?',
  },
];
---

<ol>
  {
    experience.map((exp) => (
      <li>
        <ExperienceItem
          title={exp.position}
          company={exp.companyName}
          date={`${exp.from} - ${exp.to}`}
          description={exp.description}
        />
      </li>
    ))
  }
</ol>
