---
import CodeIcon from '@/components/icons/CodeIcon.astro';
import BriefcaseIcon from '@/components/icons/BriefcaseIcon.astro';
import Layout from '../layouts/Layout.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import HeroSection from '@/components/sections/HeroSection.astro';
import WorkExperienceSection from '@/components/sections/WorkExperienceSection.astro';
import ProjectsSection from '@/components/sections/ProjectsSection.astro';
import SkillsSection from '@/components/sections/SkillsSection.astro';
import { sectionOptions } from '@/constants/section-ids';
---

<Layout
  title='Richard Huaman - Portfolio'
  description='A software engineer specialized in software development.'
  canonical='http://localhost:4321'
>
  <main>
    <SectionContainer id={sectionOptions.home}>
      <HeroSection />
    </SectionContainer>
    <SectionContainer
      id={sectionOptions.skills}
      title='Technical Skills'
      Icon={CodeIcon}
      class:list='py-[72px] lg:py-20'
    >
      <SkillsSection />
    </SectionContainer>
    <SectionContainer
      id={sectionOptions.experience}
      title='Work Experience'
      Icon={BriefcaseIcon}
      class:list='py-[72px] lg:py-20'
    >
      <WorkExperienceSection />
    </SectionContainer>
    <SectionContainer
      id={sectionOptions.projects}
      title='Projects'
      Icon={CodeIcon}
      class:list='py-[72px] lg:py-20'
    >
      <ProjectsSection />
    </SectionContainer>
  </main>
</Layout>
