---
import type { Experience } from '@/utilities/types';
import Typography from './ui/Typography.astro';

type Props = Experience;

const { companyName, from, position, roles, technologies, to } = Astro.props;
---

<div
  class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
  <div class='relative pb-6 md:col-span-2'>
    <div class='sticky top-0'>
      <span class='text-primary -left-[41.5px] absolute rounded-full text-5xl'>&bull;</span>
      <Typography as='h3' size='2xl' color='primary' class='font-semibold mb-0.5'>
        {position}
      </Typography>
      <Typography as='h4' size='xl' class='font-medium mb-0.5'>
        {companyName}
      </Typography>
      <Typography as='p' size='md' color='dim'>
        {`${from} - ${to}`}
      </Typography>
    </div>
  </div>
  <div class='relative flex flex-col gap-2 pb-4 md:col-span-3'>
    <ul class='list-disc text-gray-300 space-y-3'>
      {
        roles.map((rol) => (
          <li>
            <Typography as='p' size='md' color='light'>
              {rol}
            </Typography>
          </li>
        ))
      }
    </ul>
    <div class='mt-1'>
      <Typography as='p' size='md' class:list='font-medium'> Technologies: </Typography>
      <div class='flex flex-wrap'>
        {
          technologies.map((tech, index) => (
            <Typography as='p' size='md' color='light' class:list='mr-1'>
              {tech}
              {index === technologies.length - 1 ? '.' : ','}
            </Typography>
          ))
        }
      </div>
    </div>
  </div>
</div>
