---
import Container from '@/components/Container.astro';
import MenuDropdown from '@/components/MenuDropdown.astro';
import { SECTIONS } from '@/utilities/constants';
import Logo from './Logo.astro';
---

<header class='sticky top-0 z-50 backdrop-blur-lg bg-dark/50'>
  <Container class='flex items-center justify-end md:justify-center py-4 relative'>
    <div class='absolute left-4 md:hidden flex'>
      <Logo />
    </div>
    <ul class='flex md:gap-4 gap-2 lg:gap-6'>
      <li class='hidden md:flex'>
        <a
          href='#'
          role='menuitem'
          data-target-id=''
          class='home-link py-2 flex items-center justify-center font-medium transition duration-300 ease-in-out text-white hover:text-primary-500'
        >
          Home
        </a>
      </li>
      <li class='hidden md:flex'>
        <a
          href={`#${SECTIONS.skills}`}
          role='menuitem'
          data-target-id={SECTIONS.skills}
          class='py-2 flex items-center justify-center font-medium transition duration-300 ease-in-out text-white hover:text-primary-500'
        >
          Skills
        </a>
      </li>
      <li class='hidden md:flex'>
        <a
          href={`#${SECTIONS.experience}`}
          role='menuitem'
          data-target-id={SECTIONS.experience}
          class='py-2 flex items-center justify-center font-medium transition duration-300 ease-in-out text-white hover:text-primary-500'
        >
          Experience
        </a>
      </li>
      <li class='hidden md:flex'>
        <a
          href={`#${SECTIONS.projects}`}
          role='menuitem'
          data-target-id={SECTIONS.projects}
          class='py-2 flex items-center justify-center font-medium transition duration-300 ease-in-out text-white hover:text-primary-500'
        >
          Projects
        </a>
      </li>
      <li>
        <MenuDropdown />
      </li>
    </ul>
  </Container>
</header>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const navLinks = document.querySelectorAll('a[data-target-id]');

    // Apply the active class to the first link on page load
    /*     if (navLinks.length > 0) {
      navLinks[0].classList.add('!text-primary');
    }
 */
    navLinks.forEach((link) => {
      link.addEventListener('click', (event) => {
        const targetId = link.getAttribute('data-target-id');
        if (targetId === '') {
          event.preventDefault();
          window.scrollTo({ top: 0, behavior: 'smooth' });
        } else {
          const targetElement = document.getElementById(targetId || '');
          if (targetElement) {
            event.preventDefault();
            targetElement.scrollIntoView({ behavior: 'smooth' });
          }
        }

        // Remove the active class from all links
        navLinks.forEach((link) => link.classList.remove('!text-primary'));
        // Add the active class to the clicked link
        link.classList.add('!text-primary');
      });
    });
  });
</script>
