---
import GitHubIcon from './icons/GitHubIcon.astro';
import Typography from './ui/Typography.astro';
import LinkButton from './ui/LinkButton.astro';
import type { TechnologyTag } from '@/utilities/types';
import LinkIcon from './icons/LinkIcon.astro';
import Chip from './ui/Chip.astro';

interface Props {
  title: string;
  description: string;
  image: string;
  technologies: TechnologyTag[];
  repositoryUrl: string | null;
  previewUrl: string | null;
}

const { image, title, description, technologies, previewUrl, repositoryUrl } = Astro.props;
---

<div class='mx-auto flex flex-col gap-4 lg:flex-row lg:gap-8'>
  <!--   Image container  -->
  <div class='flex-1'>
    <div
      style={{ aspectRatio: '70/45' }}
      class='border-gray-700 hover:border-gray-600 border-[1px] group overflow-hidden rounded-xl transition duration-500 ease-in-out'
    >
      <img
        loading='lazy'
        alt={title}
        class='h-full object-cover shadow-2xl transition duration-500 ease-in-out lg:group-hover:scale-105 rounded-xl'
        src={image}
        width='700'
        height='300'
      />
    </div>
  </div>
  <!--   Description container  -->
  <div class='flex-1'>
    <div class='space-y-3'>
      <Typography as='p' size='2xl' class='font-semibold'>
        {title}
      </Typography>
      <Typography as='p' size='md' color='light'>{description}</Typography>
      <div>
        <Typography as='p' size='lg' color='primary' class='font-medium'> Technologies:</Typography>
        <div class='mt-2 flex flex-wrap gap-2'>
          {technologies.map((tech) => <Chip color={tech.color}>{tech.name}</Chip>)}
        </div>
      </div>
      <div class='space-x-3 pt-2'>
        {
          repositoryUrl && (
            <LinkButton href={repositoryUrl}>
              <GitHubIcon />
              Code
            </LinkButton>
          )
        }
        {
          previewUrl && (
            <LinkButton href={previewUrl}>
              <LinkIcon />
              Preview
            </LinkButton>
          )
        }
      </div>
    </div>
  </div>
</div>
