---
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  canonical?: string;
  image?: string;
}

const { title, description, canonical, image = '/images/open-graph.svg' } = Astro.props as Props;

const determineCanonicalURL = () => {
  if (canonical) return canonical;

  return 'http://localhost:4321';
};

const canonicalURL = new URL(determineCanonicalURL(), Astro.site);
---

<title>{title}</title>

<meta charset='UTF-8' />
<meta name='description' content={description} />

<link rel='canonical' href={canonicalURL} />
<meta name='viewport' content='width=device-width, initial-scale=1' />

<meta name='keywords' content='richardhuaman,portfolio,fullstack,software engineer,comet' />

<meta property='og:image' content={new URL(image, determineCanonicalURL())} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:url' content={determineCanonicalURL()} />
<meta property='og:site_name' content={title} />
<meta property='og:type' content='website' />

<meta name='robots' content='index, follow' />
<meta name='googlebot' content='index, follow' />

<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<link rel='icon' type='image/png' href='/favicon.png' sizes='24x24' />
<!-- <link rel='apple-touch-icon' href='/apple-touch-icon.png' /> -->
